{
  "env": {
    "es6": true,
    "node": true,
  },
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": ["error", "always"],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "semi": ["error", "never"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
  },
}
